@use '@tygr/switch';

@import 'variables';

@keyframes _expand-appear {
  from {
    transform: scaleY(0);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: scaleY(1);
  }
}

.tygr-auth {
  position: relative;

  [data-page] {
    transform-origin: center top;
    transition: transform 300ms ease-in-out, opacity 300ms ease-in;
    animation: _expand-appear 300ms ease-in-out;
  }

  [data-auth],
  [data-prov],
  [data-reset] {
    @include show(44px);
  }

  @include switch.switch('page', loading, login, user) {
    position: absolute;
    transform-origin: center bottom;
    opacity: 0;
    transform: scaleY(0);
    top: 0;
  }
}

.tygr-login {
  @include switch.switch('auth', login, register, reset) {
    @include hide();

    &#register {
      display: none;
    }
  }

  @include switch.switch('prov', local, external) {
    &:not(.disappear) {
      @include hide();
    }

    &.disappear {
      display: none;
      pointer-events: none;
    }
  }
}

.tygr-local {
  @include switch.switchChild('auth', reset) {
    @include switch.switch('reset', initial, verify, password, success) {
      @include hide();
    }
  }
}
