@use '@tygr/switch';

@import 'variables';

.tygr-auth {
  [data-page] {
    @include show(400px, 400ms, ease-out, 150ms);
  }

  [data-auth],
  [data-prov],
  [data-reset] {
    @include show(44px);
  }

  @include switch.switch('page', loading, login, user) {
    @include hide(400ms, ease-out);
  }
}

.tygr-login {
  @include switch.switch('auth', login, register, reset) {
    @include hide();

    &#register {
      display: none;
    }
  }

  @include switch.switch('prov', local, external) {
    &:not(.disappear) {
      @include hide();
    }

    &.disappear {
      display: none;
      pointer-events: none;
    }
  }
}

.tygr-local {
  @include switch.switchChild('auth', reset) {
    @include switch.switch('reset', initial, verify, password, success) {
      @include hide();
    }
  }
}
