$accent-1: rgba(0, 0, 0, 0.4) !default;
$accent-2: rgba(0, 0, 0, 0.7) !default;

$display: 'Sansita Swashed', cursive !default;
$paragraph: 'Bellota Text', cursive !default;

$dot: black !default;
$dot-duration: 1s;

@mixin transition($duration: 300ms, $timing: linear, $delay: 0s, $hide: false) {
  $visibility: null;
  @if ($hide) {
    // Delay setting visiblity until after animation is done
    $visibility: visibility $timing 0s ($delay + $duration);
  }
  transition: opacity $timing $duration $delay,
    max-height $timing $duration $delay, margin $timing $duration $delay,
    border $timing $duration $delay, padding $timing $duration $delay,
    transform $timing $duration $delay, $visibility;
}

@mixin show($max-height, $duration: 300ms, $timing: linear, $delay: 0s) {
  @include transition($duration, $timing, $delay, false);
  max-height: $max-height;
  overflow: visible;
  transform-origin: top center;
}

@mixin hide($duration: 300ms, $timing: linear, $delay: 0s) {
  @include transition($duration, $timing, $delay, true);
  opacity: 0;
  max-height: 0;
  margin: 0 8px;
  border: none;
  padding: 0;
  pointer-events: none;
  visibility: hidden;
  transform: scaleY(0);
}
