.tygr-auth {
  button {
    background: none;
    border: 1px solid black;
    padding: 4px;
    margin: 8px;
    background-color: white;

    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }
    &.selected {
      background-color: rgba(0, 0, 0, 0.2);
    }

    svg {
      margin: 0px 3px -2px 3px;
    }
  }
}
