.tygr-login {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  .header {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .providers {
    display: flex;
    flex-direction: column;
  }

  #login.expanded {
    margin-right: 30px;
  }
}
