.tygr-user {
  min-height: 300px;
  display: flex;
  flex-direction: column;
  padding: 16px;

  .default {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }

  h3,
  p {
    margin: 8px;
  }

  p {
    font-size: 12px;
  }

  .content {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
